body {
    font-family: Arial, sans-serif;
    background-image: url('croix.jpg');
    background-size: cover ;
}

.login-container {
    background-image: url ('croix.jpg');
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 30%;
    margin-left : auto;
    margin-right : auto; 
    
    
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.logo{
background-position: center;
    text-align : center ;

}

h1 {
 
    color : rgb(116, 106, 106) ;
}
